.wrapper{
display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .title{
        font-size: 18px;
        font-weight: bold;
        @media screen and (max-width: 1023px){
            font-size: 16px;
        }
    }
    & .link{
        transition: 150ms;
        @media screen and (max-width: 1023px){
            font-size: 14px;
        }
        color: black;
        text-decoration: none;
        &:hover{
            color: var(--main-first-color);
            text-decoration: underline  ;
        }
        &:active{
            color: black;
        }
    }
}



.swiperBody{
    max-width: 100%;
    & .slider{
        padding: 10px 0 10px 0 ;
        width: 220px;
        height: auto;
        @media screen and (max-width: 1439px){
            width: 197px;
        }
        @media screen and (max-width: 1023px){
            width: 142px;
        }
        @media screen and (max-width: 320px){
            width: 50%;
        }
    }

    & .nextSlideButton{
        position: absolute;
        transition-property: opacity, background-color;
        transform: rotate(-90deg) translateY(-50%);
        right: 30px;
        top: 50%;
    }
    & .prevSlideButton{
        position: absolute;
        transition-property: opacity, background-color;
        transform: rotate(90deg) translateY(-50%);
        left: 30px;
        top: 50%;
    }

    &:hover .nextSlideButton{
        opacity: 1;
    }
    &:hover .prevSlideButton{
        opacity: 1;
    }
}
