.popupCenter{
    top: 0;
    left: 0;
    z-index: 12;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.20);
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms;
}

.body {
    z-index: 12;
    overflow-y: auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
}

.active {
    visibility: visible;
    opacity: 1;
}

.closeButton{
    font-size: 30px;
    padding: 5px;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}


