@use "sass:math";

.bodyPopup {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    overflow: auto;
    height: auto;
    max-height: 85%;
    min-height: 150px;
    border-radius: 10px;

    @media screen and (max-width: 768px) {
        top: 0;
        left: 0;
        transform: none;
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        border-radius: 0;
    }

     .popupContainer {
        margin: auto;
        max-width: 500px;

         .popupHeader {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding-right: 24px;

             .headerTitle {
                font-size: 20px;
                position: relative;
                padding: 0 10px;
                cursor: pointer;
            }

             .headerTitle:before {
                border-radius: 10px;
                transition-property: width, opacity;
                transition: 150ms;
                content: " ";
                position: absolute;
                background-color: var(--main-first-color);
                left: 50%;
                transform: translateX(-50%);
                width: 50%;
                top: 100%;
                height: 4px;
                opacity: 0;
            }

             .headerTitle:not(.headerTitleActive):hover:before {
                width: 100%;
                height: 4px;
                opacity: 0.3;
            }


             .headerTitleActive.headerTitle:before {
                width: 100%;
                height: 4px;
                opacity: 1;
            }
        }

         .popupContent {
            margin-top: 10px;

             .authenticationForm {
                margin-top: 10px;

                 .formRow {
                    & + .formRow {
                        margin-top: 10px;
                    }

                     .formRowTitle {
                        cursor: default;
                        color: var(--main-dark-grey-color);
                    }

                }
            }

             .authenticationViaServices {
                 .socialBlock {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 5px;
                    cursor: pointer;
                    background-color: var(--main-very-light-grey-color);
                    border: 1px solid var(--main-grey-color);

                    &:hover {
                        background-color: var(--main-light-grey-color);
                    }

                }
            }

        }
    }

}

.inputForm, .buttonForm {
    width: 100%;
}

.buttonForm {
    margin-top: 20px;
}


.dividingLine {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 100%;
    background-color: var(--main-light-grey-color);

     .dividingLineText {
        display: inline-block;
        padding: 0 10px;
        background-color: #ffffff;
        color: var(--main-dark-grey-color);
    }
}


.wrapperPopup {
    @media screen and (max-width: 768px) {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
