.button{
    cursor: pointer;
    transition: 150ms;
    background: var(--main-gradient);
    border: 2px solid var(--main-blue-color);
    border-radius: 10px;
    padding: 5px 8px;
    color: #ffffff;
    &:hover{
        background: var(--main-gradient-reverse);
    }
}
