.filterChooseBlock {
    width: 100%;
}

.titleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.titleText {
    font-weight: bold;
    font-size: 20px;
}

.titleItemText + * {
    margin-left: 10px;
}

.resetButton {
    color: var(--main-dark-grey-color);
    border-bottom: 1px dotted var(--main-dark-grey-color);
    margin-left: 10px;
    font-size: 16px;
}

.titleItemCount {
    color: var(--main-dark-grey-color);
}

.content {
    padding: 5px 0 5px 0;
    max-height: 200px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.moreLessText {
    cursor: pointer;
    &:hover{
        color: var(--main-first-color);
    }
}


